﻿.errorpage(@textcolor, @bgcolor, @buttonbg) {
	* { margin: 0; padding: 0; }
	html, body { height: 100%; }

	body, div, a, p, h1, h2, h3, h4, h5, h6, span { font-family: Calibri; color: @textcolor; }

	body { background: @bgcolor; }
	ul, ol { list-style: none; }
	img { border: none; }
	#error { position: absolute; top: 50%; margin-top: -125px; /* error-in'nin yüksekliğinin yarısı */ left: 0; width: 100%; }

	#error-in { width: 70%; margin-left: auto; margin-right: auto; height: 250px; text-align: center; background-repeat: no-repeat; background-position: center center;
		h1 { font-size: 48px; }
		h2 { font-weight: normal; font-size: 24px; margin-top: 20px; }
		a { padding: 4px 10px; font-size: 16px; color: white; text-decoration: none; border-bottom: 4px solid (@buttonbg - 30); background-color: @buttonbg; opacity: 0.9;
			&:hover { color: white; border-bottom: 4px solid (@buttonbg + 10); background-color: (@buttonbg + 30); opacity: 1; }
		}
		ol {
			li { display: inline-block; margin: 110px 10px 0 10px; }
		}
	}

	.error-500 { }
	.error-404 { }
}
