﻿//Calc prop'lu hali test edilecek
//prefixer'da olabilir bazı fonk scale gibi, araştır.

.calcW(@param) { width: -moz-calc(@param); width: -webkit-calc(@param); width: -o-calc(@param); width: calc(@param); }
.calcH(@param) { height: -moz-calc(@param); height: -webkit-calc(@param); height: -o-calc(@param); height: calc(@param); }

.size(@wh) { width: @wh; height: @wh; }
.size(@width, @height) { width: @width; height: @height; }

.lh(@size) { line-height: @size; }
.sizelh(@size) { width: @size; height: @size; line-height:@size; }

.fw(@arg) { font-weight: @arg; }

.centerText { text-align: center; }
 
.bgNoRepeat() { background-repeat: no-repeat; }
.bgCenter() { background-position: center center; }
.bgColor(@color) { background-color: @color; }
.bgCenterNr() { .bgNoRepeat; .bgCenter; }
.bgSize(@size) { -webkit-background-size: @size; -moz-background-size: @size; -o-background-size: @size; background-size: @size; }

.lt(@left, @top) { left: @left; top: @top; }
.lb(@left, @bottom) { left: @left; bottom: @bottom; }
.rt(@right, @top) { right: @right; top: @top; }
.rb(@right, @bottom) { right: @right; bottom: @bottom; }

.m(@args: 0) { margin: @args; }
.mt(@val) { margin-top: @val; }
.mr(@val) { margin-right: @val; }
.mb(@val) { margin-bottom: @val; }
.ml(@val) { margin-left: @val; }

.p(@args: 0) { padding: @args; }
.pt(@val) { padding-top: @val; }
.pr(@val) { padding-right: @val; }
.pb(@val) { padding-bottom: @val; }
.pl(@val) { padding-left: @val; }

.fll { float: left; }
.flr { float: right; }
.fln { float: none; }

.middle { vertical-align: middle; }
.cell { display: table-cell; .middle; }

.tableAbs { display: table; .absolute; }
.table, .dtable, .display-table { border-collapse: collapse; display: table; }
.table-row { display: table-row; }
.table-cell { display: table-cell; }
.nowrap { white-space: nowrap; }

.db { display: block; }
.di { display: inline; }
.dib { display: inline-block; }
.dn { display: none; }

.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.static { position: static; }

.ovisible { overflow: visible; }
.ohidden { overflow: hidden; }

.pointer { cursor: pointer; }
.fullw { width: 100%; }
.fullh { height: 100%; }
.fullwh { .fullw; .fullh; }

.placeholder(@color) {
    &::-webkit-input-placeholder { color: @color; }
    &:-moz-placeholder { color: @color; }
    &::-moz-placeholder { color: @color; }
    &:-ms-input-placeholder { color: @color; }
    &:placeholder-shown { color: @color; }
}

.clearfix { clear: both; min-height: 0px; .db(); float: none !important; }

.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }

.opacity(@opacityValue) {
    @ms-opacityValue: (@opacityValue * 100);
    -moz-opacity: @opacityValue; -webkit-opacity: @opacityValue; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ms-opacityValue})"; opacity: @opacityValue; filter: alpha(opacity=@ms-opacityValue); }

.borderRadius(@radius) { -moz-border-radius: @radius; -webkit-border-radius: @radius; -o-border-radius: @radius; border-radius: @radius; }
.borderRadiusTL(@radius) { -moz-border-top-left-radius: @radius; -webkit-border-top-left-radius: @radius; -o-border-top-left-radius: @radius; border-top-left-radius: @radius; }
.borderRadiusBL(@radius) { -moz-border-bottom-left-radius: @radius; -webkit-border-bottom-left-radius: @radius; -o-border-bottom-left-radius: @radius; border-bottom-left-radius: @radius; }
.borderRadiusTR(@radius) { -moz-border-top-right-radius: @radius; -webkit-border-top-right-radius: @radius; -o-border-top-right-radius: @radius; border-top-right-radius: @radius; }
.borderRadiusBR(@radius) { -moz-border-bottom-right-radius: @radius; -webkit-border-bottom-right-radius: @radius; -o-border-bottom-right-radius: @radius; border-bottom-right-radius: @radius; }
.boxShadow(@val) { -moz-box-shadow: @val; -webkit-box-shadow: @val; -o-box-shadow: @val; box-shadow: @val; }
.boxShadowNone() { -webkit-box-shadow: none !important; -o-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }

/* bu yapılacak (prop) */
/*.calc(@prop, @param) {
	@prop: -moz-calc(@param);
	height: -webkit-calc(@param); height: -o-calc(@param); height: calc(@param); }*/

.calcWidth(@arg) { width: -webkit-calc(@arg); width: -moz-calc(@arg); width: -o-calc(@arg); width: calc(@arg); }
.calcHeight(@arg) { height: calc(@arg); height: -o-calc(@arg); height: -webkit-calc(@arg); height: -moz-calc(@arg); }
.calcMinHeight(@arg) { min-height: -webkit-calc(@arg); min-height: -moz-calc(@arg); min-height: -o-calc(@arg); min-height: calc(@arg); }
.calcTop(@arg) { top: calc(@arg); top: -o-calc(@arg); top: -webkit-calc(@arg); top: -moz-calc(@arg); }
.calcBottom(@arg) { bottom: calc(@arg); bottom: -o-calc(@arg); bottom: -webkit-calc(@arg); bottom: -moz-calc(@arg); }

.boxSizing () { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.ul(@m,@p) { margin: @m; padding: @p; list-style-type: none; }
.appearenceNone() { -webkit-appearance: none; -moz-appearance: none; -o-appearence: none; appearance: none; .boxSizing(); .borderRadius(0px); }

.sprite(@x, @y) { background-image: url(../InterfaceImages/sprite.svg); background-repeat: no-repeat; background-position: @x @y; }

.bgImgUrl(@image) { background-image: url('../../Project/Elements/Images/@{image}'); }
.blendMode(@blend) { -webkit-background-blend-mode: @blend; -moz-background-blend-mode: @blend; background-blend-mode: @blend; }
.blur(@blur) { -webkit-filter: blur(@blur); -moz-filter: blur(@blur); -o-filter: blur(@blur); -ms-filter: blur(@blur); filter: blur(@blur); filter: url(#blur); filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius="@{blur}"); }

.absoluteVal(@t,@r,@b,@l) { top: @t; right: @r; bottom: @b; left: @l; }
.absoluteOnlyVal(@val) { top: @val; right: @val; bottom: @val; left: @val; }


.scale(@scale) { -webkit-transform: scale(@scale); -moz-transform: scale(@scale); -ms-transform: scale(@scale); -o-transform: scale(@scale); transform: scale(@scale); }
.rotate(@rotate,@msrotate: @rotate) { -webkit-transform: rotate(@rotate); -moz-transform: rotate(@rotate); -ms-transform: rotate(@rotate); -o-transform: rotate(@rotate); transform: rotate(@rotate); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@msrotate); }

.border(@t,@r,@b,@l,@color) { border-top: @t solid @color; border-right: @r solid @color; border-bottom: @b solid @color; border-left: @l solid @color; }
.translateX(@arg) { -webkit-transform: translateZ(0) translateX(@arg); -moz-transform: translateZ(0) translateX(@arg); -ms-transform: translateZ(0) translateX(@arg); -o-transform: translateZ(0) translateX(@arg); transform: translateZ(0) translateX(@arg); }
.translateY(@arg) { -webkit-transform: translateZ(0) translateY(@arg); -moz-transform: translateZ(0) translateY(@arg); -ms-transform: translateZ(0) translateY(@arg); -o-transform: translateZ(0) translateY(@arg); transform: translateZ(0) translateY(@arg); }
.triangle(@border,@color) { width: 0; height: 0; border: @border solid @color; }

.transition(@prop, @duration, @easing) { -webkit-transition-property: @prop; -moz-transition-property: @prop; -o-transition-property: @prop; -ms-transition-property: @prop; transition-property: @prop; -webkit-transition-duration: @duration; -moz-transition-duration: @duration; -o-transition-duration: @duration; -ms-transition-duration: @duration; transition-duration: @duration; -webkit-transition-timing-function: @easing; -moz-transition-timing-function: @easing; -o-transition-timing-function: @easing; -ms-transition-timing-function: @easing; transition-timing-function: @easing; }
.transition(@t1) { -webkit-transition: @t1; -moz-transition: @t1; -o-transition: @t1; transition: @t1; }
.transition-delay(@delay: 0) { -moz-transition-delay: @delay; -o-transition-delay: @delay; -webkit-transition-delay: @delay; transition-delay: @delay; }
.transition-duration(@duration: 200ms) { -moz-transition-duration: @duration; -o-transition-duration: @duration; -webkit-transition-duration: @duration; transition-duration: @duration; }
.transition-property(@property: all) { -moz-transition-property: @property; -o-transition-property: @property; -webkit-transition-property: @property; transition-property: @property; }
.transition-timing-function(@function: ease) { -moz-transition-timing-function: @function; -o-transition-timing-function: @function; -webkit-transition-timing-function: @function; transition-timing-function: @function; }

.transform(@args) { -webkit-transform: @args; -ms-transform: @args; -moz-transform: @args; -o-transform: @args; transform: @args; }
.transform-origin(@args) { -webkit-transform-origin: @args; -ms-transform-origin: @args; -moz-transform-origin: @args; -o-transform-origin: @args; transform-origin: @args; }
.transform-style(@style) { -webkit-transform-style: @style; -ms-transform-style: @style; transform-style: @style; }

.selectionGroup(@bgColor, @color: white) {
    *::-webkit-selection { background: @bgColor !important; color: @color; }
    *::-moz-selection { background: @bgColor !important; color: @color; }
    *::selection { background: @bgColor !important; color: @color; }
}

//Prefixer'dan alınanlar
.keyframes(@name,@rules) {

    @-webkit-keyframes @name {
        @rules();
    }

    @-moz-keyframes @name {
        @rules();
    }

    @-ms-keyframes @name {
        @rules();
    }

    @-o-keyframes @name {
        @rules();
    }

    @keyframes @name {
        @rules();
    }
}
.animation(@animationName, @duration, @fillMode, @easing: ease-in-out) { -webkit-animation: @animationName @duration @fillMode @easing; -moz-animation: @animationName @duration @fillMode @easing; -o-animation: @animationName @duration @fillMode @easing; animation: @animationName @duration @fillMode @easing; }
.animation-direction(@direction) { -webkit-animation-direction: @direction; -o-animation-direction: @direction; -moz-animation-direction: @direction; animation-direction: @direction; }
.animation-duration(@duration) { -webkit-animation-duration: @duration; -moz-animation-duration: @duration; -o-animation-duration: @duration; animation-duration: @duration; }
.animation-fill-mode(@mode) { -webkit-animation-fill-mode: @mode; -moz-animation-fill-mode: @mode; -o-animation-fill-mode: @mode; animation-fill-mode: @mode; }
.animation-iteration-count(@count) { -webkit-animation-iteration-count: @count; -moz-animation-iteration-count: @count; -o-animation-iteration-count: @count; animation-iteration-count: @count; }
.animation-name(@name) { -webkit-animation-name: @name; -moz-animation-name: @name; -o-animation-name: @name; animation-name: @name; }
.animation-play-state(@state) { -webkit-animation-play-state: @state; -moz-animation-play-state: @state; -o-animation-play-state: @state; animation-play-state: @state; }
.animation-timing-function(@function) { -webkit-animation-timing-function: @function; -moz-animation-timing-function: @function; -o-animation-timing-function: @function; animation-timing-function: @function; }

.gradient(@default: #F5F5F5, @start: #EEE, @stop: #FFF) { .linear-gradient-top(@default,@start,0%,@stop,100%); }
.linear-gradient-top(@default,@color1,@stop1,@color2,@stop2) { background-color: @default; background-image: -webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2); background-image: linear-gradient(top, @color1 @stop1, @color2 @stop2); }
.linear-gradient-top(@default,@color1,@stop1,@color2,@stop2,@color3,@stop3) { background-color: @default; background-image: -webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3); background-image: linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3); }
.linear-gradient-top(@default,@color1,@stop1,@color2,@stop2,@color3,@stop3,@color4,@stop4) { background-color: @default; background-image: -webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4); background-image: linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4); }
.linear-gradient-left(@default,@color1,@stop1,@color2,@stop2) { background-color: @default; background-image: -webkit-linear-gradient(left, @color1 @stop1, @color2 @stop2); background-image: linear-gradient(left, @color1 @stop1, @color2 @stop2); }
.linear-gradient-left(@default,@color1,@stop1,@color2,@stop2,@color3,@stop3) { background-color: @default; background-image: -webkit-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3); background-image: linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3); }
.linear-gradient-left(@default,@color1,@stop1,@color2,@stop2,@color3,@stop3,@color4,@stop4) { background-color: @default; background-image: -webkit-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4); background-image: linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4); }





/*kahia */
.borderBottomRadius(@size) { -webkit-border-bottom-right-radius: @size; -webkit-border-bottom-left-radius: @size; -moz-border-bottom-right-radius: @size; border-bottom-right-radius: @size; -moz-border-bottom-left-radius: @size; border-bottom-left-radius: @size; }
.bold() { font-weight: bold; }
.w(@size) { width: @size; }
.h(@size) { height: @size; }
.centerBg() { background-position: center center; }
.underline() {
    &, * { text-decoration: underline; }
}

.underlineHover {
    &:hover {.underline; }
}

.bgRepeat() { background-repeat: repeat; }
.bgCover() { background-size: cover; }
.bgContain() { background-size: contain; }

.transitionAll(@easing: ease-in, @duration: 200ms) { .transition-property(all); .transition-timing-function(@easing); .transition-duration(@duration); }
.bgCenterNrContain() { .bgNoRepeat; .bgCenter;.bgContain; }
.bgCenterNr() { .bgNoRepeat; .bgCenter; }
.table() { border-collapse: collapse; display: table; }
.padlr(@left, @right) { padding-left: @left; padding-right: @right; }
.gradient3(@start, @mid, @end) { background: -moz-linear-gradient(top, @start 0%, @mid 50%, @end 100%); background: -webkit-linear-gradient(top, @start 0%,@mid 50%,@end 100%); background: linear-gradient(to bottom, @start 0%,@mid 50%,@end 100%); }

.fw6() {.fw(600); }
.firstChildMargin(@mrg) {
    &:first-child { margin: @mrg; }
}

.hidden {.dn; }


.fa { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.content-box () { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.border-box () { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.border-radius(@arguments) { .borderRadius(@arguments); }
.box-shadow(@args) { .boxShadow(@args); }
.translate(@x, @y) { -webkit-transform: translateZ(0) translateX(@x) translateY(@y); -moz-transform: translateZ(0) translateX(@x) translateY(@y); -ms-transform: translateZ(0) translateX(@x) translateY(@y); -o-transform: translateZ(0) translateX(@x) translateY(@y); transform: translateZ(0) translateX(@x) translateY(@y); }
.fs(@size) { font-size: @size; }
.fs0 { .fs(0); }
.fs12{ .fs(12px);}
.fs14{ .fs(14px);}
.fs16{ .fs(16px);}
.fs24{ .fs(24px);}
.fs36{ .fs(36px);}
.fs48{ .fs(48px);}

.m0auto { .m(0 auto); }
.content(@position: absolute) { content: " "; position: @position; }
.filter(@args) { -webkit-filter: @args; -moz-filter: @args; -ms-filter: @args; filter: @args; }
.hover-color(@color) {
    &:hover { color: @color; }
}
.hover-bgcolor(@color) {
    &:hover { .bgColor(@color); }
}
.focus-color(@color) {
    &:focus { color: @color; }
}
.focus-bgcolor(@color) {
    &:focus { .bgColor(@color); }
}
.hover-color(@color, @bgcolor) { .hover-color(@color); .hover-bgcolor(@bgcolor); }

.transition-color-bgcolor {.transition-property(color background-color); }
.transition-mult(@props, @duration: 0.2s, @easing: ease-in-out) {.transition-property(@props); .transition-duration(@duration); .transition-timing-function(@easing); }
.object-fit(@arg: cover) { -o-object-fit: @arg; object-fit: @arg; }
.background-clip(@arg: content-box) { -moz-background-clip: @arg; -webkit-background-clip: @arg; background-clip: @arg; }
.bgPos(@pos) { background-position: @pos; }
.ls(@size) { letter-spacing: @size; }

.ellipsis {.nowrap; text-overflow: ellipsis; overflow: hidden; }

@-webkit-keyframes fadeIn {
    0% { display: none; opacity: 0; }
    1% { display: block; opacity: 0; }
    100% { display: block; opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { display: none; opacity: 0; }
    1% { display: block; opacity: 0; }
    100% { display: block; opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { display: none; opacity: 0; }
    1% { display: block; opacity: 0; }
    100% { display: block; opacity: 1; }
}

@keyframes fadeIn {
    0% { display: none; opacity: 0; }
    1% { display: block; opacity: 0; }
    100% { display: block; opacity: 1; }
}

@-webkit-keyframes fadeOut {
    0% { display: block; opacity: 1; }
    99% { display: none; opacity: 0; }
    100% { display: none; opacity: 0; }
}

@-moz-keyframes fadeOut {
    0% { display: block; opacity: 1; }
    99% { display: none; opacity: 0; }
    100% { display: none; opacity: 0; }
}

@-o-keyframes fadeOut {
    0% { display: block; opacity: 1; }
    99% { display: none; opacity: 0; }
    100% { display: none; opacity: 0; }
}

@keyframes fadeOut {
    0% { display: block; opacity: 1; }
    99% { display: none; opacity: 0; }
    100% { display: none; opacity: 0; }
}

.white{ color:white;}
.black{ color:black;}
.bgNone{background:none;}
.ff(@p){font-family: @p;}
