.opacity(@opacity) { -webkit-opacity: @opacity; -moz-opacity: @opacity;  @opacity-ie: (@opacity * 100); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacity-ie})"; filter: ~"alpha(opacity=@{opacity-ie})";  opacity:@opacity; }